# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
 android/local.properties
android/app/build/
android/app/.cxx/
android/app/build/outputs/
android/app/build/outputs/apk/
android/app/build/outputs/apk/debug/
android/app/build/outputs/apk/release/
android/app/build/outputs/apk/debug/app-debug.apk
android/app/build/outputs/apk/release/app-release.apk   
android/app/build/outputs/bundle/release/app-release.aab
android/app/build/outputs/bundle/release/app-release.aab.packaged
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha1
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha256
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha512
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha512.txt
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha512.txt.sha1
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha512.txt.sha256
android/app/build/outputs/bundle/release/app-release.aab.packaged.zip.sha512.txt.sha512

